body {
  margin: 0;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

div {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
